div.chessboard {
    height: 560px;
    width: 560px;
}
div.square {
    height: 70px;
    width: 60px;
    background-color: #aaaaaa;
    border: solid;
    border-width: 2px;
    float: left;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
